@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Quicksand:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    /* font-family: 'Quicksand', sans-serif; */
}

body {
    scroll-behavior: smooth;
    /* box-shadow: inset 0 0 5rem rgba(0, 0, 0, .9); */
}

/* 
.inner-content {
    line-height: 130%;
} */

.inner-content {
    text-align: justify;
}

.inner-content p,
.inner-content li,
.inner-content strong {
    font-size: 1.2em;
    max-width: 72ch;
    line-height: 32px;
    word-spacing: 0.2em;
    /* white-space: pre-wrap; */
    word-break: keep-all;
}

.inner-content em {
    font-size: 1em;
    max-width: 72ch;
    line-height: 32px;
    word-spacing: 0.2em;
    /* white-space: pre-wrap; */
    word-break: keep-all;
}

.inner-content strong {
    font-weight: bolder;
}