@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Quicksand:wght@500&display=swap');

* {

    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Quicksand', sans-serif; */
}

body {
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .9);
}

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: #222;
}

body::-webkit-scrollbar-thumb {
    background: #E05A33;

}

/* 
.inner-content {
    line-height: 130%;
} */

.inner-content {
    text-align: justify;
}

.inner-content p,
.inner-content li,
.inner-content strong {
    font-size: 1.2em;
    max-width: 72ch;
    line-height: 32px;
    word-spacing: 0.2em;
    /* white-space: pre-wrap; */
    word-break: keep-all;
}

.inner-content em {
    font-size: 1em;
    max-width: 72ch;
    line-height: 32px;
    word-spacing: 0.2em;
    /* white-space: pre-wrap; */
    word-break: keep-all;
}

.inner-content strong {
    font-weight: bolder;
}

.text-content {
    max-width: 73ch;
    line-height: 150%;
}

.overlay-1 {
    max-width: 100vw;
    height: 80vh;
    max-height: 720px;
    object-fit: cover;
    object-position: right;
    z-index: -1;
}

.bell-infor>p,
.bell-infor>a {
    font-size: smaller;
}

.authorHome {
    width: 50px;
    height: 50px;
}

.more-gray {
    text-shadow: 1px 1px 2px #222;
}