@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Quicksand:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    /* font-family: 'Quicksand', sans-serif; */
}

body {
    scroll-behavior: smooth;
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .9);
}