body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: #222;
}

body::-webkit-scrollbar-thumb {
    background: #E05A33;

}

/* 
.inner-content {
    line-height: 130%;
} */

.inner-content {
    text-align: justify;
}

.inner-content p,
.inner-content li,
.inner-content strong {
    font-size: 1.2em;
    max-width: 72ch;
    line-height: 32px;
    word-spacing: 0.2em;
    /* white-space: pre-wrap; */
    word-break: keep-all;
}

.inner-content em {
    font-size: 1em;
    max-width: 72ch;
    line-height: 32px;
    word-spacing: 0.2em;
    /* white-space: pre-wrap; */
    word-break: keep-all;
}

.inner-content strong {
    font-weight: bolder;
}

.text-content {
    max-width: 73ch;
    line-height: 150%;
}

.overlay-1 {
    max-width: 100vw;
    height: 80vh;
    max-height: 720px;
    object-fit: cover;
    object-position: right;
    z-index: -1;
}

.bell-infor>p,
.bell-infor>a {
    font-size: smaller;
}

.authorHome {
    max-width: 60px;
    max-height: 60px;
    min-width: 50px;
    min-height: 50px;
}

.more-gray {
    text-shadow: 1px 1px 2px #222;
}

.animation-floating {
    animation: 2s linear 0s infinite alternate floating;
    transition: all 1s ease-in-out;
}

@keyframes floating {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.2);

    }
}