<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - DotNetUniverse</title>
    <link rel="shortcut icon" href="../assets/favicon.ico" type="image/x-icon">
    <script src="https://kit.fontawesome.com/4552defb60.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./bootstrap-5.3.0-alpha1/css/bootstrap.min.css">
    <!-- my Style -->
    <link rel="stylesheet" href="./css/stylesToAll.css">
    <link rel="stylesheet" href="./css/styleAboutUs.css">
    <link rel="stylesheet" href="./css/styleBlogReading.css">
    <link rel="stylesheet" href="./css/styleLogin.css">
    <link rel="stylesheet" href="./css/styleHome.css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-route.js"></script>
</head>

<body ng-app="myApp" ng-controller="allElement" data-bs-theme="{{themes.theme}}">
    <div>
        <!-- progress -->
        <div class="progress sticky-top" role="progressbar" aria-label="Warning example" aria-valuenow="75"
            aria-valuemin="0" aria-valuemax="100" style="height: 5px;">
            <div class="progress-bar bg-warning progress-bar-striped progress-bar-animated" id="progress-bar"
                style="width: 0%">
            </div>
        </div>
        <header>
            <nav class="navbar navbar-expand-lg" ng-controller="navBar">
                <div class="container" id="normal-nav">
                    <a class="navbar-brand d-none d-lg-block" href="#!home#Home"><img class="rounded-circle" height="50"
                            src="../assets/logo.svg" alt="logo">
                        NetUniverse</a>
                    <a class="navbar-brand d-lg-none" href="#!home#Home"><img class="rounded-circle" height="50"
                            src="../assets/logo.svg" alt="logo"></a>
                    <button title="logo" class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbar">
                        <ul class="navbar-nav me-2">
                            <li class="nav-item d-lg-none">
                                <button class="w-25 btn btn-outline-warning" data-bs-toggle="modal" type="button"
                                    data-bs-target="#search-modal" title="open-search-modal"><i
                                        class="fa-solid fa-magnifying-glass"></i></button>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="#!home#Home"><i
                                        class="fa-solid fa-house"></i>
                                    Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#!faqs"><i class="fa-solid fa-clipboard-question"></i>
                                    FAQs</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#!aboutus#about-us" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false"><i
                                        class="fa-solid fa-address-card"></i>
                                    About Us</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#!aboutus#about-us">Our Information</a></li>
                                    <li><a class="dropdown-item" href="#!aboutus#our-misson">Our Mission</a></li>
                                    <li><a class="dropdown-item" href="#!aboutus#community">Our Community</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="collapse navbar-collapse justify-content-end"
                        ng-class="{'visually-hidden': isLoginNow}">
                        <ul class="navbar-nav gap-2">
                            <li class="nav-item">
                                <a class="btn-warning btn text-decoration-none" href="#!login#login">
                                    Login</a>
                            </li>
                            <li class="nav-item ">
                                <a class="btn-warning btn text-decoration-none" href="#!signup#signup">
                                    Sign up</a>
                            </li>
                            <li class="nav-item">
                                <button class="btn btn-outline-warning" data-bs-toggle="modal" type="button"
                                    data-bs-target="#search-modal" title="open-search-modal"><i
                                        class="fa-solid fa-magnifying-glass"></i></button>
                            </li>
                            <li class="nav-item dropdown dropstart">
                                <button class="btn btn-outline-warning" title="popup-profile" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false"><i
                                        class="fa-solid fa-gear"></i></button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="#" class="dropdown-item disabled" title="dropdown">
                                            <i class="fa-solid fa-language "></i>
                                        </a>
                                    </li>
                                    <li>
                                        <button title="language" class="dropdown-item" href="#">vi - Tiếng việt</button>
                                        <button title="language" class="dropdown-item" href="#">en - English</button>
                                    </li>
                                    <li>
                                        <hr>
                                    </li>
                                    <li>
                                        <button title="change-theme" ng-click="changeTheme()" class="dropdown-item">
                                            <em ng-show="themes.content">
                                                <i class="fa-solid fa-sun"></i>
                                                Giao diện - Sáng
                                            </em>
                                            <em ng-hide="themes.content">
                                                <i class="fa-solid fa-moon"></i>
                                                Giao diện - Tối
                                            </em>
                                        </button>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="collapse navbar-collapse justify-content-end"
                        ng-class="{'visually-hidden': !isLoginNow}">
                        <ul class="navbar-nav gap-3">
                            <li class="nav-item">
                                <button class="btn btn-outline-warning" data-bs-toggle="modal" type="button"
                                    data-bs-target="#search-modal" title="open-search-modal"><i
                                        class="fa-solid fa-magnifying-glass"></i></button>
                            </li>
                            <li class="nav-item">
                                <button class="btn btn-outline-warning" title="open-writeBlog"><i
                                        class="fa-solid fa-pen"></i> Viết
                                    bài</button>
                            </li>
                            <li class="nav-item">
                                <div class="dropdown">
                                    <button class="btn text-white position-relative" title="offcanvas" type="button"
                                        data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
                                        aria-controls="offcanvasRight">
                                        <i class="fa-solid fa-bell">
                                            <span
                                                class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">99+
                                            </span>
                                        </i>
                                    </button>
                                </div>
                            </li>
                            <li class="nav-item">
                                <div class="dropdown">

                                    <img class="rounded-circle dropdown" data-bs-toggle="dropdown" aria-expanded="false"
                                        src="https://i.ibb.co/NW7CCfv/avatar.jpg" width="32" alt="user-picture">
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a class="dropdown-item" href="#">Xem trang cá nhân</a>
                                        </li>
                                        <li>
                                            <hr>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="#">Bài viết của tôi</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="#"><i class="fa-solid fa-sun"></i> Bản
                                                nháp</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="#">
                                                <i class="fa-solid fa-moon"></i>
                                                Bài viết đã lưu</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="#">
                                                <i class="fa-solid fa-moon"></i> Tùy chỉnh</a>
                                        </li>
                                        <li>
                                            <hr>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="#">
                                                <i class="fa-solid fa-moon"></i> Đăng xuất</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="search-modal" tabindex="-1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Search</h1>
                                <button title="modal-search-close" type="button" class="btn-close"
                                    data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="row g-3">
                                    <div class="col-12 col-sm-12">
                                        <label for="" class="form-label">Search</label>
                                        <input class="form-control" type="text" placeholder="Search">
                                    </div>
                                    <div class="col-lg-6 col-12" ng-controller="topic">
                                        <label for="" class="form-label">Topic</label>
                                        <select class="form-select" name="" title="topic">
                                            <option ng-repeat="item in listTopic">{{item}}</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-6 col-12">
                                        <label for="" class="form-label">Read time</label>
                                        <select class="form-select" name="" title="read-time">
                                            <option ng-repeat="readtime in listReadTime" value={{readtime.value}}>
                                                {{readtime.content}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                                    title="modal-search-close">Close</button>
                                <button type="button" class="btn btn-warning" title="search">Tìm kiếm</button>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </header>

        <div ng-view id="Home">

        </div>
        <div class="container">
            <footer class="py-3">
                <div class="row justify-content-between">
                    <div class="col-6 col-md-2 mb-3">
                        <p class="h5">Section</p>
                        <ul class="nav flex-column">
                            <li class="nav-item mb-2"><a href="../screen/Home.html#home"
                                    class="nav-link p-0 text-muted"><i class="fa-solid fa-house"></i> Home</a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted"><i
                                        class="fa-solid fa-clipboard-question"></i> FAQs</a></li>
                            <li class="nav-item mb-2"><a href="../screen/AboutUs.html#about-us"
                                    class="nav-link p-0 text-muted"><i class="fa-solid fa-address-card"></i> About
                                    Us</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-6 col-md-2 mb-3">
                        <p class="h5">Working Hours</p>
                        <p><i class="fa-solid fa-business-time"></i> Monday to Friday </p>
                        <p><i class="fa-solid fa-clock"></i> 9:00 - 17:00</p>
                    </div>
                    <div class="col-6 col-md-2 mb-3">
                        <p class="h5">Contact Us</p>
                        <p><i class="fa-solid fa-phone"></i> +84 0985950723</p>
                    </div>
                    <div class="col-md-5 offset-md-1 mb-3">
                        <p class="h5">Subscribe to our newsletter</p>
                        <p class="h6">Monthly digest of what's new and exciting from us.</p>
                        <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                            <label for="useremail" class="visually-hidden">Your email address</label>
                            <input id="useremail" type="text" class="form-control text-dark"
                                placeholder="Your email address">
                            <label for="useremail" class="visually-hidden">Your name</label>
                            <input id="username" type="text" class="form-control text-dark" placeholder="Your name">
                            <button class="btn btn-warning" type="button" title="Subscribe">Subscribe</button>
                        </div>

                        <div class="row mt-3">
                            <div class="col-12 text-center"><i class="fa-solid fa-envelope"></i> Email:
                                Jackandy249@gmail.com</div>
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
                    <p>&copy; 2022 DotNetUniverse Tran Phu Dat, Inc. All rights reserved.</p>
                    <ul class="list-unstyled d-flex">
                        <li class="ms-3">
                            <a class="nav-link" href="#">
                                <i class="fa-brands fa-twitter"></i> Twitter
                            </a>
                        </li>
                        <li class="ms-3">
                            <a class="nav-link" href="https://www.facebook.com/clbnetuniverse" target="_blank">
                                <i class="fa-brands fa-facebook"></i> Facebook
                            </a>
                        </li>
                        <li class="ms-3"><a class="nav-link" href="#">
                                <i class="fa-brands fa-instagram"></i> Instagram
                            </a>
                        </li>
                    </ul>
                </div>
            </footer>
        </div>
    </div>

    <!-- Toast -->
    <div class="position-sticky top-0 start-0 end-0 bottom-0">
        <div class="toast-container bottom-0 end-0 p-3">
            <div class="toast fade show" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <img src="../assets/logo.svg" height="32" class="rounded-circle me-2" alt="...">
                    <strong class="me-auto">DotNetUniverse</strong>
                    <small class="text-muted">Just now</small>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"
                        title="toast-close"></button>
                </div>
                <div class="toast-body">
                    <p class="h5">
                        Xin chào Trần Phú Đạt
                    </p>
                    <p class="h6">
                        Chúc bạn một ngày tốt lành!!
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- add lottiefiles -->
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <!-- add tooltip -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="../bootstrap-5.3.0-alpha1/js/bootstrap.bundle.min.js"></script>

    <!-- scrollprogress -->
    <script src="./js/scrollProgress.js"></script>
    <!-- tooltip -->
    <script>
        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
    </script>
    <!-- AngularJs -->
    <script>
        var app = angular.module('myApp', ["ngRoute"]);
        app.controller('allElement', function ($scope) {
            $scope.themes = {
                "theme": "dark", "content": false
            };
            $scope.changeTheme = () => {
                if ($scope.themes.theme === "light") {
                    $scope.themes.theme = "dark";
                    $scope.themes.content = false;
                } else {
                    $scope.themes.theme = "light";
                    $scope.themes.content = true;
                }
            }
        })
        app.controller('navBar', function ($scope, $http) {
            $scope.language = "vn";
            $scope.isLoginNow = false;

            $scope.listReadTime = [],
                $http.get("../js/Data.json").then((response) => {
                    $scope.listReadTime = response.data.ListReadTime;
                })
        });

        app.controller('topic', ($scope, $http) => {
            $scope.listTopic = [];
            $http.get("../js/Data.json").then((response) => {
                $scope.listTopic = response.data.Topics;
            })
        });

        app.controller('BlogReading', function ($scope, $http) {
            $scope.BlogReadings = [];
            $http.get("../js/Data.json").then((response) => {
                $scope.BlogReadings = response.data.Blogs;
            })
            $scope.pageSize = 4;
            $scope.currentPage = 0;
        });
        app.filter('startFrom', function () {
            return function (input, start) {
                start = +start; //parse to int
                return input.slice(start);
            }
        });



        app.config(function ($routeProvider) {
            $routeProvider
                .when("/home", {
                    templateUrl: "./screen/Home.html"
                })
                .when("/faqs", {
                    templateUrl: "./screen/FAQs.html"
                })
                .when("/aboutus", {
                    templateUrl: "./screen/AboutUs.html"
                })
                .when("/signup", {
                    templateUrl: "./screen/SignUp.html"
                })
                .when("/login", {
                    templateUrl: "./screen/Login.html"
                })
                .when("/Profile", {
                    templateUrl: "./screen/Profile.html"
                })
                .when("/BlogReading", {
                    templateUrl: "./screen/BlogReading.html"
                })
                .otherwise({
                    redirectTo: "/home"
                })
                ;
        });
    </script>
</body>

</html>