<main class="container-fluid">
    <div class="row position-relative">
        <img class=" overlay-1 position-absolute top-0" src="./assets/banner.png" alt="banner">
    </div>
    <div class="container">
        <div class="row overlay-1">
            <div class="m-auto">
                <p class="h5 more-gray text-wrap text-capitalize">Write, Share, Connect, Study and happy lunar new year
                    on</p>
                <p class="h1 more-gray text-uppercase text-wrap heading-banner">DotNet Universe</p>
                <a class="bg-warning btn  text-decoration-none" href="./screen/Login.html">
                    Join Now</a>
            </div>
        </div>
    </div>
    <div class="container">
        <hr>
        <div class="row">
            <div class="col-12">
                <p class="h4 text-capitalize">Most popular</p>
            </div>
            <br>
            <div ng-controller="BlogReading">
                <div class="row g-3">
                    <div class="col-lg-6 col-sm-12"
                        ng-repeat="item in DataFile.Blogs | orderBy : ' -seen' | startFrom:currentPage*pageSize | limitTo:pageSize ">
                        <div class=" card">
                            <div class="row">
                                <div class="col-sm-12 col-md-5 col-lg-4">
                                    <a href="#!BlogReading/{{item.content}}#blogReadingContent">
                                        <img loading="lazy" class="object-fit-cover w-100" height="250"
                                            src="{{item.img}}" alt="blog">
                                    </a>
                                </div>
                                <div class="col-sm-12 col-md-7 col-lg-8">
                                    <div class="container">
                                        <div class="row">
                                            <p>
                                                <a class="content-topic btn-link text-uppercase text-decoration-none"
                                                    href="#">{{item.topic}}</a>
                                                |
                                                <em class="content-topic">{{item.readingTime}}</em>
                                            </p>
                                            <div class="content-title">
                                                <a class="h5 text-decoration-none"
                                                    href="#!BlogReading/{{item.content}}#blogReadingContent">
                                                    {{item.blogName}}
                                                </a>
                                                <p class="content-content">{{item.asContent}}...</p>
                                            </div>
                                            <div class="row">
                                                <div class="col-8">
                                                    <div class="row">
                                                        <div class="col-3">
                                                            <a href="#!profile/{{item.userName}}">
                                                                <img loading="lazy"
                                                                    class="object-fit-cover rounded-circle authorHome"
                                                                    src="{{item.avatar}}" alt="author">
                                                            </a>
                                                        </div>
                                                        <div class="col-9">
                                                            <a href="#!profile/{{item.userName}}"
                                                                class="content-topic text-decoration-none">{{item.authorName}}</a>
                                                            <p class="content-topic">{{item.upLoadDate |
                                                                date:'dd/MM/yyyy'}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-4">
                                                    <div class="row text-center">
                                                        <div class="col-4 p-0">
                                                            <i class="fa-solid fa-chevron-up" data-bs-toggle="tooltip"
                                                                data-bs-title="Up vote"></i>
                                                            <p class="content-topic">{{item.upVote}}</p>
                                                        </div>
                                                        <div class="col-4 p-0" data-bs-toggle="tooltip"
                                                            data-bs-title="View">
                                                            <i class="fa-solid fa-eye"></i>
                                                            <p class="content-topic">{{item.seen}}</p>
                                                        </div>
                                                        <div class="col-4 p-0" data-bs-toggle="tooltip"
                                                            data-bs-title="Comment">
                                                            <i class="fa-solid fa-message"></i>
                                                            <p class="content-topic">{{item.cmt}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="m-2">
                <div class="row justify-content-center">
                    <div class="col-auto">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                <li class="page-item">
                                    <button class="btn page-link" title="to-page-0" ng-click="currentPage=0"
                                        ng-disabled="currentPage == 0">
                                        <i class="fa-solid fa-angles-left"></i>
                                    </button>
                                </li>
                                <li class="page-item">
                                    <button title="prev-page" class="btn page-link" ng-click="currentPage=currentPage-1"
                                        ng-disabled="currentPage == 0">
                                        <i class="fa-solid fa-angle-left"></i>
                                    </button>
                                </li>
                                <li class="page-item">
                                    <button title="next-page" class="btn page-link" ng-click="currentPage=currentPage+1"
                                        ng-disabled="currentPage >= BlogReadings.length/pageSize - 1">
                                        <i class="fa-solid fa-angle-right"></i>
                                    </button>
                                </li>
                                <li class="page-item">
                                    <button title="to-last-page" class="btn page-link"
                                        ng-click="currentPage=BlogReadings.length/pageSize - 1"
                                        ng-disabled="currentPage >= BlogReadings.length/pageSize - 1">
                                        <i class="fa-solid fa-angles-right"></i>
                                    </button>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!-- <hr>
            <div class="row">
                <div class="col-12">
                    <p class="h4 text-capitalize">DotNet-Universe video</p>
                </div>
            </div> -->
        <hr>
        <div class="row">
            <div class="col-12">
                <p class="h4 text-capitalize">Trending in month</p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-12">
                <p class="h4 text-capitalize">DotNet-Universe Topic</p>
            </div>
        </div>
        <hr>
        <div class="row g-5 flex-lg-row-reverse">
            <div class="col-sm-12 col-lg-4">
                <p class="card-title h5">Topic</p>
                <hr>
                <div class="container">
                    <div class="row gap-3 row-cols-auto">
                        <a href="#" class="btn btn-outline-warning " ng-repeat="topic in DataFile.Topics">{{topic}}</a>
                    </div>
                </div>
                <hr>
                <div class="container">
                    <div class="row">
                        <div class="card">
                            <div class="card-header">
                                <lottie-player src="https://assets1.lottiefiles.com/packages/lf20_25cc2s.json"
                                    mode="bounce" background="transparent" speed="1"
                                    style="width: 300px; height: 300px;" loop autoplay></lottie-player>
                                <p class="h3 text-center">Most <strong class="text-warning h3">prominent
                                    </strong>blog you
                                    shouldn't
                                    miss!</p>
                            </div>
                            <div class="card-body">
                                <p class="h6">Subscribe today to get news helpful information every weekend</p>
                                <div class=" mb-3">
                                    <label for="form-control">Your email address</label>
                                    <input type="email" class="form-control bg-body" id="floatingInput"
                                        placeholder="gia.han@example.com">
                                </div>
                                <div class="mb-3">
                                    <label for="floatingPassword">What can we call you?</label>
                                    <input type="text" class="form-control bg-body" id="floatingPassword"
                                        placeholder="Nguyễn Huỳnh Gia Hân?">
                                </div>
                            </div>
                            <div class="card-footer">
                                <button class="btn bg-warning">Subscribe</button>
                            </div>
                        </div>
                    </div>
                    <hr>

                </div>
            </div>
            <div class="col-sm-12 col-lg-8">
                <div class="card">
                    <div class="card-header">
                        <p class="card-title h5">For your Universe</p>
                        <ul class="nav nav-tabs card-header-tabs" data-bs-tabs="tabs">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="true" data-bs-toggle="tab" href="#foryou">For
                                    you</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#highlyappreciated">Highly
                                    vote</a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body tab-content">
                        <div class="tab-pane active" id="foryou">
                            <div class="row g-3">
                                <div class="col-sm-12"
                                    ng-repeat="item in DataFile.Blogs | limitTo: 5 | orderBy : ' -forYou' ">
                                    <div class="card">
                                        <div class="row">
                                            <div class="col-sm-12 col-md-5 col-lg-4">
                                                <a href="#!BlogReading/{{item.content}}#blogReadingContent">
                                                    <img loading="lazy" class="object-fit-cover w-100" height="250"
                                                        src="{{item.img}}" alt="baiviet">
                                                </a>
                                            </div>
                                            <div class="col-sm-12 col-md-7 col-lg-8">
                                                <div class="container">
                                                    <div class="row">
                                                        <p><a class="content-topic btn-link text-uppercase text-decoration-none"
                                                                href="#">{{item.topic}}</a>
                                                            |
                                                            <em class="content-topic">{{item.readingTime}}</em>
                                                        </p>
                                                        <div class="content-title">
                                                            <a class="h5 text-decoration-none"
                                                                href="#!BlogReading/{{item.content}}#blogReadingContent">
                                                                {{item.blogName}}
                                                            </a>
                                                            <p class="content-content">
                                                                {{item.asContent}}
                                                            </p>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-8">
                                                                <div class="row">
                                                                    <div class="col-3">
                                                                        <a href="#!profile/{{item.userName}}">
                                                                            <img loading="lazy"
                                                                                class="object-fit-cover rounded-circle authorHome"
                                                                                src="{{item.avatar}}" alt="author">
                                                                        </a>
                                                                    </div>
                                                                    <div class="col-9">
                                                                        <a href="#!profile/{{item.userName}}"
                                                                            class="content-topic text-decoration-none">
                                                                            {{item.authorName}}</a>
                                                                        <p class="content-topic">{{item.upLoadDate}}
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-4">
                                                                <div class="row text-center">
                                                                    <div class="col-4 p-0" data-bs-toggle="tooltip"
                                                                        data-bs-title="Up vote">
                                                                        <i class="fa-solid fa-chevron-up"></i>
                                                                        <p class="content-topic">{{item.upVote}}</p>
                                                                    </div>
                                                                    <div class="col-4 p-0" data-bs-toggle="tooltip"
                                                                        data-bs-title="View">
                                                                        <i class="fa-solid fa-eye"></i>
                                                                        <p class="content-topic">{{item.seen}}</p>
                                                                    </div>
                                                                    <div class="col-4 p-0" data-bs-toggle="tooltip"
                                                                        data-bs-title="Comment">
                                                                        <i class="fa-solid fa-message"></i>
                                                                        <p class="content-topic">{{item.cmt}}</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="highlyappreciated">
                            <div class="row g-3">
                                <div class="col-sm-12" ng-repeat="item in DataFile.Blogs | orderBy : ' -upVote' ">
                                    <div class="card">
                                        <div class="row">
                                            <div class="col-sm-12 col-md-5 col-lg-4">
                                                <a href="#!BlogReading/{{item.content}}#blogReadingContent">
                                                    <img loading="lazy" class="object-fit-cover w-100" height="250"
                                                        src="{{item.img}}" alt="baiviet">
                                                </a>
                                            </div>
                                            <div class="col-sm-12 col-md-7 col-lg-8">
                                                <div class="container">
                                                    <div class="row">
                                                        <p><a class="content-topic btn-link text-uppercase text-decoration-none"
                                                                href="#">{{item.topic}}</a>
                                                            |
                                                            <em class="content-topic">{{item.readingTime}}</em>
                                                        </p>
                                                        <div class="content-title">
                                                            <a class="h5 text-decoration-none"
                                                                href="#!BlogReading/{{item.content}}#blogReadingContent">
                                                                {{item.blogName}}
                                                            </a>
                                                            <p class="content-content">
                                                                {{item.asContent}}
                                                            </p>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-8">
                                                                <div class="row">
                                                                    <div class="col-3">
                                                                        <a href="#!profile/{{item.userName}}">
                                                                            <img loading="lazy"
                                                                                class="object-fit-cover rounded-circle authorHome"
                                                                                src="{{item.avatar}}" alt="author">
                                                                        </a>
                                                                    </div>
                                                                    <div class="col-9">
                                                                        <a href="#!profile/{{item.userName}}"
                                                                            class="content-topic text-decoration-none">
                                                                            {{item.authorName}}</a>
                                                                        <p class="content-topic">{{item.upLoadDate}}
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-4">
                                                                <div class="row text-center">
                                                                    <div class="col-4 p-0" data-bs-toggle="tooltip"
                                                                        data-bs-title="Up vote">
                                                                        <i class="fa-solid fa-chevron-up"></i>
                                                                        <p class="content-topic">{{item.upVote}}</p>
                                                                    </div>
                                                                    <div class="col-4 p-0" data-bs-toggle="tooltip"
                                                                        data-bs-title="View">
                                                                        <i class="fa-solid fa-eye"></i>
                                                                        <p class="content-topic">{{item.seen}}</p>
                                                                    </div>
                                                                    <div class="col-4 p-0" data-bs-toggle="tooltip"
                                                                        data-bs-title="Comment">
                                                                        <i class="fa-solid fa-message"></i>
                                                                        <p class="content-topic">{{item.cmt}}</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</main>