<link rel="stylesheet" href="../bootstrap-5.3.0-alpha1/css/bootstrap.min.css">

<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#!home#Home">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{pageTitle}}</li>
        </ol>
    </nav>
</div>
<main class="container">
    <div class="min-vh-100 text-center">
        <div class="row g-3">
            <div class="col-12">
                <img class="rounded-circle" src="./assets/logo.svg" height="150" width="150" alt="logo">
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-sm-1 col-md-2 col-lg-4">
                    </div>
                    <div class="col-sm-10 col-md-8 col-lg-4" ng-controller="loginCtrl">
                        <form class="row g-2 " ng-submit="login()" name="LoginForm">
                            <div class=" form-floating">
                                <input ng-model="email" required class="form-control bg-body"
                                    placeholder="name@example.com">
                                <label>Email address</label>
                            </div>
                            <div class="form-floating">
                                <input type="password" ng-model="password" required class="form-control bg-body"
                                    placeholder="Password">
                                <label>Password</label>
                            </div>
                            <button class="btn btn-warning text-capitalize" type="submit">Login to
                                universe</button>
                        </form>
                    </div>
                    <div class="col-sm-1 col-md-2 col-lg-4">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="mt-3">
                <!-- <a class="btn-link" href="#">Quên mật khẩu?</a> -->
                <a class="btn-link" href="#">Forgot your password?</a>
            </div>
            <!-- <p>Chưa có tài khoản? <a href="#">Đăng ký ngay</a></p> -->
            <p>Don't have an account yet? <a href="#!signup#signup">Sign up now</a></p>
        </div>
    </div>
</main>

<script src="../bootstrap-5.3.0-alpha1/js/bootstrap.bundle.min.js"></script>