<link rel="stylesheet" href="../bootstrap-5.3.0-alpha1/css/bootstrap.min.css">

<main ng-controller="profileUser">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#!home#Home">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Profile</li>
            </ol>
        </nav>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12" id="wallpaper">
                <img class="object-fit-cover img-fluid w-100" src="{{Profile.wallpaper}}" alt="wallpaper">
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row justify-content-evenly">
            <div class="col-2 d-sm-none"></div>
            <div class="col-8 col-md-3">
                <div class="row">
                    <div class="col-12">
                        <img class="user-avatar w-100 img-thumbnail object-fit-cover" src="{{Profile.avatar}}"
                            alt="avatar">
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-12">
                        <div class="text-center">
                            <p class="h4">{{Profile.fullName}}</p>
                            <em>{{Profile.email}}</em>
                        </div>
                    </div>
                    <br>
                    <div class="col-12">
                        <div class="row justify-content-center">
                            <button class="btn btn-outline-primary">Following</button>
                        </div>
                        <hr>
                        <div class="row justify-content-between">
                            <div class="col-auto">{{Profile.blog}}</div>
                            <div class="col-auto">Blog</div>
                        </div>
                        <div class="row justify-content-between">
                            <div class="col-auto">{{Profile.follower}}</div>
                            <div class="col-auto">Follower</div>
                        </div>
                        <div class="row justify-content-between">
                            <div class="col-auto">{{Profile.following}}</div>
                            <div class="col-auto">Following</div>
                        </div>

                        <hr>
                        <div class="row">
                            <p class="h6">
                                {{Profile.description}}
                            </p>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
            <div class="col-2 d-sm-none"></div>
            <div class="col-12 col-md-9">
                <br>
                <div class="card">
                    <div class="card-header">
                        <p class="card-title h5">Your Universe</p>
                        <ul class="nav nav-tabs card-header-tabs" data-bs-tabs="tabs">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="true" data-bs-toggle="tab" href="#blog">
                                    Bài viết
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#readlist">
                                    Danh sách
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#saved">
                                    Đã lưu
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body tab-content">
                        <div class="tab-pane active" id="blog">
                            <div class="row">
                                <div class="col-12 col-md-3">
                                    <select class="form-select bg-body">
                                        <option value="1">Sớm nhất</option>
                                        <option value="2">Cũ nhất</option>
                                        <option value="3">Nổi bật nhất</option>
                                        <option value="4">Phù hợp với bạn nhất</option>
                                    </select>
                                </div>
                            </div>
                            <br>
                            <!-- content here -->
                            <div class="row g-3">
                                <div class="col-sm-12" ng-repeat="item in BlogsInProfile | orderBy : ' -forYou' ">
                                    <div class="card">
                                        <div class="row">
                                            <div class="col-sm-12 col-md-5 col-lg-4">
                                                <a href="#!BlogReading/{{item.content}}#blogReadingContent">
                                                    <img loading="lazy" class="object-fit-cover w-100" height="250"
                                                        src="{{item.img}}" alt="baiviet">
                                                </a>
                                            </div>
                                            <div class="col-sm-12 col-md-7 col-lg-8">
                                                <div class="container">
                                                    <div class="row">
                                                        <p><a class="content-topic btn-link text-uppercase text-decoration-none"
                                                                href="#">{{item.topic}}</a>
                                                            |
                                                            <em class="content-topic">{{item.readingTime}}</em>
                                                        </p>
                                                        <div class="content-title">
                                                            <a class="h5 text-decoration-none"
                                                                href="#!BlogReading/{{item.content}}#blogReadingContent">
                                                                {{item.blogName}}
                                                            </a>
                                                            <p class="content-content">
                                                                {{item.asContent}}
                                                            </p>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-8">
                                                                <div class="row">
                                                                    <div class="col-3">
                                                                        <a href="#!profile/{{item.idName}}">
                                                                            <img loading="lazy"
                                                                                class="object-fit-cover  img-thumbnail rounded-circle authorHome"
                                                                                src="{{item.avatar}}" alt="author">
                                                                        </a>
                                                                    </div>
                                                                    <div class="col-9">
                                                                        <a href="#!profile/{{item.idName}}"
                                                                            class="content-topic text-decoration-none">
                                                                            {{item.authorName}}</a>
                                                                        <p class="content-topic">{{item.upLoadDate}}
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-4">
                                                                <div class="row text-center">
                                                                    <div class="col-4 p-0" data-bs-toggle="tooltip"
                                                                        data-bs-title="Up vote">
                                                                        <i class="fa-solid fa-chevron-up"></i>
                                                                        <p class="content-topic">{{item.upVote}}</p>
                                                                    </div>
                                                                    <div class="col-4 p-0" data-bs-toggle="tooltip"
                                                                        data-bs-title="View">
                                                                        <i class="fa-solid fa-eye"></i>
                                                                        <p class="content-topic">{{item.seen}}</p>
                                                                    </div>
                                                                    <div class="col-4 p-0" data-bs-toggle="tooltip"
                                                                        data-bs-title="Comment">
                                                                        <i class="fa-solid fa-message"></i>
                                                                        <p class="content-topic">{{item.cmt}}</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="readlist">
                            <div class="row justify-content-between">
                                <div class="col-9">
                                    <p class="h2">
                                        You had nothing here :_(
                                    </p>
                                </div>
                                <div class="col-3"><button class="btn btn-success">Tạo danh sách</button></div>
                            </div>
                        </div>
                        <div class="tab-pane" id="saved">
                            <p class="h2">You had nothing here :_(</p>

                            <div class="row g-3">
                                <div class="col-sm-12" ng-repeat="item in DataFile.Demo | orderBy : ' -forYou' ">
                                    <div class="card">
                                        <div class="row">
                                            <div class="col-sm-12 col-md-5 col-lg-4">
                                                <a href="#!BlogReading/{{item.content}}#blogReadingContent">
                                                    <img loading="lazy" class="object-fit-cover w-100" height="250"
                                                        src="{{item.img}}" alt="baiviet">
                                                </a>
                                            </div>
                                            <div class="col-sm-12 col-md-7 col-lg-8">
                                                <div class="container">
                                                    <div class="row">
                                                        <p><a class="content-topic btn-link text-uppercase text-decoration-none"
                                                                href="#">{{item.topic}}</a>
                                                            |
                                                            <em class="content-topic">{{item.readingTime}}</em>
                                                        </p>
                                                        <div class="content-title">
                                                            <a class="h5 text-decoration-none"
                                                                href="#!BlogReading/{{item.content}}#blogReadingContent">
                                                                {{item.blogName}}
                                                            </a>
                                                            <p class="content-content">
                                                                {{item.asContent}}
                                                            </p>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-8">
                                                                <div class="row">
                                                                    <div class="col-3">
                                                                        <a href="#!profile/{{item.idName}}">
                                                                            <img loading="lazy"
                                                                                class="object-fit-cover  img-thumbnail rounded-circle authorHome"
                                                                                src="{{item.avatar}}" alt="author">
                                                                        </a>
                                                                    </div>
                                                                    <div class="col-9">
                                                                        <a href="#!profile/{{item.idName}}"
                                                                            class="content-topic text-decoration-none">
                                                                            {{item.authorName}}</a>
                                                                        <p class="content-topic">{{item.upLoadDate}}
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-4">
                                                                <div class="row text-center">
                                                                    <div class="col-4 p-0" data-bs-toggle="tooltip"
                                                                        data-bs-title="Up vote">
                                                                        <i class="fa-solid fa-chevron-up"></i>
                                                                        <p class="content-topic">{{item.upVote}}</p>
                                                                    </div>
                                                                    <div class="col-4 p-0" data-bs-toggle="tooltip"
                                                                        data-bs-title="View">
                                                                        <i class="fa-solid fa-eye"></i>
                                                                        <p class="content-topic">{{item.seen}}</p>
                                                                    </div>
                                                                    <div class="col-4 p-0" data-bs-toggle="tooltip"
                                                                        data-bs-title="Comment">
                                                                        <i class="fa-solid fa-message"></i>
                                                                        <p class="content-topic">{{item.cmt}}</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


<script src="../bootstrap-5.3.0-alpha1/js/bootstrap.bundle.min.js"></script>