<link rel="stylesheet" href="../bootstrap-5.3.0-alpha1/css/bootstrap.min.css">
<script src="../bootstrap-5.3.0-alpha1/js/bootstrap.bundle.min.js"></script>

<style>
    [contenteditable] {
        padding: 12px;
    }

    [contenteditable]:focus {
        outline: 0px solid transparent;
    }

    [data-placeholder]:empty:before {
        content: attr(data-placeholder);
        font-style: italic;
    }
</style>

<main ng-controller="writeBlogCtrl">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#!home#Home">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Viết bài viết của bạn ở đây</li>
            </ol>
        </nav>
    </div>

    <div class=" container my-5">
        <div class="toolbar">
            <input type="checkbox" class="btn-check" id="btn-check-outlined-1">
            <label class="btn btn-outline-warning" for="btn-check-outlined-1" ng-click="setBold()"><b>B</b></label>
            <input type="checkbox" class="btn-check" id="btn-check-outlined">
            <label class="btn btn-outline-warning" for="btn-check-outlined" ng-click="setItalic()"><i>I</i></label>
            <input type="checkbox" class="btn-check" id="btn-check-outlined">
            <label class="btn btn-outline-warning" for="btn-check-outlined" ng-click="setUnderline()"><u>U</u></label>
            <input type="checkbox" class="btn-check" id="btn-check-outlined">
            <label class="btn btn-outline-warning" for="btn-check-outlined" ng-click="setFontSize(15)">15</label>

        </div>
    </div>
    <div class="container min-vh-100">
        <div class="h1" contenteditable spellcheck="false" data-placeholder="Tiêu đề bài viết..."></div>
        <div class="h5" spellcheck="false" contenteditable data-placeholder="Nội dung bài viết..."></div>

        <div class="m-5"></div>

        <div class="container position-fixed bottom-0">
            <div class="row my-5">
                <div class="col-12 col-md-3">
                </div>
                <div class="col-12 col-md-6">
                    <div class="row g-3">
                        <div class="col-12 col-md-6">
                            <button class="btn btn-outline-warning w-100">Lưu nháp</button>
                        </div>
                        <div class="col-12 col-md-6">
                            <button class="btn btn-outline-warning w-100">Bước kế tiếp</button>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-3"></div>
            </div>
        </div>
    </div>
</main>